# Default sopel configuration file for Fedora
# For information related to possible configuration values see
# https://sopel.chat/docs/config.html#the-core-configuration-section
# https://sopel.chat/usage/module-configuration/
#
# IMPORTANT NOTE!
# You must delete the not_configured line in order for the bot to work,
# otherwise it will refuse to start.
[core]
nick=sopel
not_configured=True
host=chat.freenode.net
port=6697
use_ssl=True
verify_ssl=True
owner=
logdir=/var/log/sopel
pid_dir=/run/sopel
homedir=/var/lib/sopel

[db]
userdb_type='sqlite'
userdb_file='/var/lib/sopel/user.db

