[Unit]
Description=Sopel IRC bot
Documentation=https://sopel.chat/
After=network.target

[Service]
Type=simple
User=sopel
PIDFile=/run/sopel/sopel-sopel.pid
ExecStart=/usr/bin/sopel -c /etc/sopel.cfg
Restart=on-failure
RestartPreventExitStatus=2
RestartSec=30
Environment=LC_ALL=en_US.UTF-8

[Install]
WantedBy=multi-user.target
