[Unit]
Description=Willie IRC bot
Documentation=http://willie.dftba.net/
After=network.target

[Service]
Type=simple
User=willie
PIDFile=/run/willie/willie.pid
ExecStart=/usr/bin/willie -c /etc/willie.cfg --quiet
ExecStop=/bin/kill -USR1 $MAINPID
Restart=on-failure
RestartPreventExitStatus=2
RestartSec=30

[Install]
WantedBy=multi-user.target
