build/
dist/
env/
MANIFEST
doc/build/*
logs/*
tests
willie.wiki/*
willie.egg-info/*
*.db
*.pyc
*.pyo
*.txt
*~
*.rpm
*.spec
.*.sw*
.pid-*

# IntelliJ idea
.idea
*.iml

# Eclipse/PyDev
.settings
.project
.pydevproject
