pytest<3.3; python_version == '3.3'
pytest>=4.6,<4.7; python_version != '3.3'
coveralls
flake8<3.6.0; python_version == '3.3'
flake8>=3.7.0,<3.8.0; python_version != '3.3'
flake8-coding
flake8-future-import<0.4.6
setuptools<40.0; python_version == '3.3'
sphinx
sphinxcontrib-autoprogram
