interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.google.com/
  response:
    body:
      string: "<!doctype html><html itemscope=\"\" itemtype=\"http://schema.org/WebPage\"
        lang=\"en\"><head><meta charset=\"UTF-8\"><meta content=\"origin\" name=\"referrer\"><meta
        content=\"/images/branding/googleg/1x/googleg_standard_color_128dp.png\" itemprop=\"image\"><title>Google</title><script
        nonce=\"ZWCFiDia4EflpXgqVD6fuA\">(function(){var _g={kEI:'gngnZcHjGtmuptQP_-eIgAk',kEXPI:'31',kBL:'rZLq',kOPI:89978449};(function(){var
        a;(null==(a=window.google)?0:a.stvsc)?google.kEI=_g.kEI:window.google=_g;}).call(this);})();(function(){google.sn='webhp';google.kHL='en';})();(function(){\nvar
        h=this||self;function l(){return void 0!==window.google&&void 0!==window.google.kOPI&&0!==window.google.kOPI?window.google.kOPI:null};var
        m,n=[];func[...]
