img.sidebar-logo.only-dark {
  /* Furo sets 0.8 opacity on color-foreground-primary for dark mode,
     but there's no variable for it. */
  opacity: 0.8;
}
::-webkit-scrollbar {
  width: 11px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-foreground-muted) transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-foreground-muted) ;
  border-radius: 6px;
  border: 3px solid var(--color-background-primary);
}

.underline {
    text-decoration: underline;
}

.strike {
    text-decoration: line-through;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.red {
    color: #f00;
}

.spoiler {
    color: #000;
    background-color: #000;
}
