---
name: CI

on:
  push:
    branches:
      - master
      - v[0-9]+.[0-9]+.x
      - gha-*
  pull_request:
    branches:
      - master
      - v[0-9]+.[0-9]+.x

jobs:
  tests:
    if: ${{ github.repository_owner == 'sopel-irc' }}
    name: Test suite
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade wheel
          python -m pip install --upgrade -r dev-requirements.txt
          python -m pip install -e .
      - name: Check code style
        run: make quality
      - name: Run pytest
        run: make test_norecord
      - name: Upload coverage data to coveralls.io
        run: coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: ${{ matrix.python-version }}
          COVERALLS_PARALLEL: true

  coveralls:
    if: ${{ github.repository_owner == 'sopel-irc' }}
    # Would be very nice to find an alternative implementation that doesn't
    # pollute the list of checks on PRs someday, but this seems unlikely.
    name: Finalize job on coveralls.io
    needs: tests
    runs-on: ubuntu-latest
    container: python:3-slim
    steps:
    - name: Notify coveralls.io
      run: |
        pip install --upgrade coveralls
        coveralls --finish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
